section.tweet{
  width: 100%;
  border: solid 4px #545149;
  background-color: #f3f1ec;
  margin-top: 10px;
  margin-bottom: 20px;
 }

 section.tweet:hover{
  box-shadow: 8px 5px 5px #cfd3e9;
 }


/* header contents */
article.tweet header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 18px;
}

article.tweet footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  border-top: solid 4px #545149;;
}

.fa-solid {
  margin: 5px;
  color:#47569b;
}

.fa-solid:hover{
  color: #c7a15b;
}