/*main container */
#tweets-container{
  width: 100%;
  border: solid 4px #545149;
  background-color: #f3f1ec;
  margin-top: 10px;
  margin-bottom: 20px;
 }

 #tweets-container:hover{
  box-shadow: 8px 5px 5px #cfd3e9;
 }


/* header section*/
article.tweet header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 18px;
  margin-bottom: 10px; /* space above tweet text */
}

/* Avatar box in header */
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avatar {
  margin-bottom: 5px;
}

/* handle box in header */
.handle {
  font-size: 16px;
  margin-left: 10px; 
}

/*footer section*/

article.tweet footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin: 5px;
  border-top: solid 3px #6f6c62;
  border-bottom: 5px solid #4e4c44;
}

.fa-solid {
  margin: 5px;
  color:#47569b;
}

.fa-solid:hover{
  color: #c7a15b;
}